* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFD966;
}

.Recetas_Contenedor {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.Receta_Tarjeta {
    background-color: white;
    margin: 20px;
    width: 300px;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.Receta_Tarjeta:hover {
    transform: scale(1.02);
    /* Efecto de zoom cuando pasas el ratón */
    cursor: pointer;
}

img {
    width: 100%;
    display: block;
}

.Receta_Titulo {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    padding-left: 30px;
    font-size: 23px;
}

.Oculto {
    position: absolute;
    top: 102%;
    left: 50%;
    transform: translateX(-50%);
    /* Para centrar horizontalmente */
    border-radius: 10px;
    width: 95%;
    background-color: white;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.Receta_Tarjeta:hover .Oculto {
    opacity: 1;
    visibility: visible;
}

.Receta_Tarjeta:hover img {
    filter: blur(1px);
}

.Receta_Descripcion {
    font-size: 20px;
}

.Receta_Descripcion button {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #FFD966;
    color: #362807;
}

.Receta_Descripcion .Elementos {
    color: #BC8811;
    font-weight: bold;
    margin: 5px 15px;
}